:root {
  --text: #222;
  --black: #010101;
}

#app {
  @include flexbox(column, nowrap, flex-start, center);

  min-height: 100vh;
  color: var(--text);
  font-size: fontSize();

  .container {
    width: 100%;
  }

  @media only screen and (min-width: 1001px) {
    .container {
      width: 95%;
    }
  }

  .header {
    flex: 0 0 auto;
    padding: 0 torem(5px);
  }

  .zp {
    flex: 1 1 auto;

    img {
      max-width: 100vw;
    }
  }

  .anchors {
    flex: 0 0 auto;
  }
}

.ᕦ⊙෴⊙ᕤ { // stylelint-disable-line selector-class-pattern
  opacity: 0;
  margin: 0;
}
