#app {
  min-height: 100%;
  @include flexbox(column, nowrap, flex-start, center);

  .container {
    width: 100%;
    max-width: 1000px;
  }

  .header {
    flex: 0 0 auto;
    padding: 0 torem(5px);
  }

  .zp {
    flex: 1 0 auto;
  }

  .anchors {
    flex: 0 0 auto;
    list-style-position: inside;
    padding: 0 torem(5px);
  }
}

.ᕦ⊙෴⊙ᕤ {
  opacity: 0;
  margin: 0;
}
