main {
  flex: 0 0 50px;
  @extend .page-wrap;
}

picture {
  flex: 1 0 350px;
  @include flexbox(column, nowrap, center, center);
  @extend .page-wrap;
}

footer {
  flex: 0 0 50px;
  @extend .page-wrap;
}
