{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions",
          "Firefox ESR",
          "chrome >= 43",
          "safari >= 8",
          "ios >= 8",
          "not ie < 11"
        ]
      },
      "useBuiltIns": true
    }],
    "stage-0"
  ]
}
