{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    // plugins
    "md5": false,
    // common
    "Base": false,
    "buildAPI": false,
    "imagePath": false
  },
  "extends": "google"
}
