{
  "root": true,
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "DEV": true
  },
  "rules": {
    "no-await-in-loop": 0,
    "no-console": 1,
    "no-cond-assign": ["error", "except-parens"],
    "no-param-reassign": [
      "error", { "props": false }
    ]
  },
  "extends": "airbnb-base"
}
