<div id="app">
  <picture class="zp">
    <source srcset="images/zp.webp" type="image/webp">
    <img src="images/zp.jpg" alt="zp">
  </picture>

  <ul class="anchors container">
  {{#each anchors}}
    <li class="item"><a href="{{path}}" class="anchor">{{title}}</a></li>
  {{/each}}
  </ul>

  <p class="ᕦ⊙෴⊙ᕤ">&#x1F602;</p>
</div>
